<div style="text-align: right;clear:both;">
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
<div *ngIf="User">
  <h2>{{User.name}} details!</h2>
  <div><label>ID: </label>{{User.id}}</div>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="User.name" placeholder="First name"/>
  </div>
  <div>
    <label>Surname: </label>
    <input [(ngModel)]="User.surname" placeholder="Sur name"/>
  </div>
  <div>
    <label>Date of Birth: </label>
    <input [(ngModel)]="User.birthDate" placeholder="Date of Birth"/>
  </div> 
  <div>
    <label>street: </label>
    <input [(ngModel)]="User.street" placeholder="street"/>
  </div>
  <div>
    <label>city: </label>
    <input [(ngModel)]="User.city" placeholder="city"/>
  </div>  

</div>

<app-popup [close]='showPopup' [title]="popupTitle" [msg]="popupMSg" (closepopupclicked)="ClosePopupAlert()"></app-popup>