.popup-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 14;
}
.frame{
    background: white;
    width: 40%;
    min-height: 150px;
    margin: auto;
    border-top: 50px solid #0067C6;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.frame-container{
    width: 100vw;
    position: fixed;
    z-index: 15;
    top: 250px;
}
.title{
    position: relative;
    margin-top: -30px;
    margin-left: 20px;
    font-size: 20px;
    color: white;
	float:left;
}
.message{
    top: 20px;
    position: relative;
    margin-left: 20px;
    font-size: 14px;
    line-height: 20px;
    min-height: 70px;
    max-height: 70px;
    width: 100%;
    overflow-y: auto;
    float: left;
    padding-right: 33px;
}
.button{
    position: relative;
    float: right;
    top: 33px;
    right: 18px;
    padding: 11px 22px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background: #0067C6;

}
    @media (max-width: 420px) {
        .frame{
            width:90%;
        }
    }
    @media (min-width: 421px) and (max-width: 767px) {
        .frame{
            width:80%;
        }
    }
    @media (min-width:769px) and (max-width:1024px){
    
    }
    @media only screen and (min-width:768px) and (max-width: 1024px) and (orientation: portrait) {
        .frame{
            width:70%;
        }
    }
    @media (min-width:1025px) and (max-width:1440px){
    
    }
    @media(min-width:1441px)  {
    
    }
    